<div style="background-color: #ff3399">
    <h3>Hello {{name}}</h3>
    <p>You order from Shan's Cookies was successful. Here is your order.</p>
    <p>{{order}}</p>
    <p>Your total is: ${{total}}</p>
    <p>Thank You!</p>
</div>